<br><br>

<center>

<h8 style= "color:white"> Welcome,  <%= current_user.firstname%></h8>

<br>

<% if current_user.photo_url%>
  <%= image_tag(current_user.photo_url)%>
<%end%>

<% if current_user.username %>
  <p style= "color:white"><%= current_user.username %></p>
<% end %>

<p> <%= link_to "Edit Username", "/user/edit", class: "btn btn-sm btn-warning" %> </p>

<br>

<div id= "brubank" style= "color:white">
<h5>BrüBank: <%= @user_stats.brubank %></h5>
<%= link_to "I Drank a Beer", "/dashboard", method: :patch, class: "btn btn-outline-warning"%>
</div>

<div id="lifetime-stats" style= "color:white">
<h5>Lifetime Stats</h5>
<p>Gas Money Saved: $<%= sprintf("%.2f", @user_stats.tot_gas_money_saved) %></p>
<p>Calories Burned: <%= @user_stats.tot_calories_burned %></p>
<p>Beers Consumed: <%= @user_stats.beers_drunk %></p>
<p>Distance Biked: <%= @user_stats.tot_miles_biked %></p>
</div>

</center>
