<!DOCTYPE html>
<html>
  <head>
    <title>BrucycleFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body    
  style= "background-image: url('black_bike.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#2B2F3C;">

  <br><br>
  <center><h1 style= "color:white"> BrüCycle </h1><center>
  <center><i><p style= "color:white",> Burn it to earn it.</p></i><center>

    <%= yield %>
  </body>
</html>
